<div class="content" id="home">
  <div id="sidebar-button">
    <img src="/images/sidebar-button.png">
  </div>

  <div class="features">

    <h1 id="title">EASY TO SCRIPT &nbsp;<i class="fa fa-file-code-o"></i></h1>

    <p> The use of Python allows non-specialist programmers to quickly get up
    to speed and run simulations. </p>

    <h1 id="title">Based on powerful OOMMF &nbsp;<i class="fa fa-desktop"></i></h1>

    <p>OOMMF is parallelised using OpenMP, allowing users to take advantage of
    multiple processors on shared-memory machines.</p>

    <h1 id="title">Cross Platform &nbsp;<i class="fa fa-linux"></i><i class="fa fa-apple"></i><i class="fa fa-windows"></i>
    </h1>

    <p>Ambition to execute on Linux, OS X and Windows (need Windows testers).</p>

    <div class=features-extra>

        <h1>The project is broken into several independent toolkits:</h1>

        <p><a href="https://github.com/joommf/oommfc">oommfc</a> - a low-level Python wrapper for running OOMMF simulations.</p>

        <p>We invite users to start to explore this.

        Here is the documentation showing how to solve the <a href="http://oommfc.readthedocs.io/en/latest/ipynb/standard_problem3.html">Standard Problem 3 with OOMMFC</a>.</p>
        <!--
        <p><a href="https://github.com/joommf-attic/oommffield">oommffield</a>
        - a Python module for reading, writing and plotting OMF files,
        outputted by OOMMF and other micromagnetics packages.</p>
        -->

        <!--<p><a href="https://github.com/joommf/oommfodt">oommfodt</a>
        - a Python module which allows users to load ODT files into Pandas
        DataFrames.</p>
          -->

        <p>Currently we are in early development, which means that changes may
          happen rapidly and break backwards compatibility.

          <!--To get details about
        the project, or ask questions we have a
        <a href="https://groups.google.com/forum/#!forum/joommf-news">Google Group </a>.</p>-->

    </div>

  </div>

  <!--
  <div class="colophon">
    <p>
      <span id="pub-date">© Computational Modelling Group, University of Southampton (2016)</span>
    </p>
  </div>
  -->
</div>
